body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    background: #f8f7ff;
    font-family: 'Harmattan', sans-serif;
    font-size: 1.3em;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #9381ff;
    margin-bottom: 4px;
    background: #f8f7ff;
    color: #9381ff;
    border-radius: 8px;
}

button {
    background: #9381ff;
    color: white;
    padding: 10px 20px 8px 20px;
    border: 2px solid #9381ff;
    font-weight: bold;
    border-radius: 8px;
    margin: 4px 4px 0 0;
    font-family: 'Harmattan', sans-serif;
}

#delete-btn {
    background: white;
    color: #9381ff;
}

ul {
    margin: 10px 0 0 0;
    list-style: none;
    padding-left: 0;
}

a {
    color: #9381ff;
    font-size: 0.65em;
}


